<header>
    <div class="row clearfix top_row">
        <div class="inner_row">
            <div class="col-md-7 column">
                <span class="label label-default label_without_bg">Welcome : studentName</span>
            </div>
        </div>
    </div>
    <div class="row clearfix logo_menu_row">
        <div class="inner_row">
            <div class="col-md-2 column logo">
                <a title="" href="javascript:void(0);"><img alt="140x140" src="~/Content/img/logo.png"></a>
            </div>
            <div class="col-md-10 column rounded_menu_boxes">
                <ul class="pull-right">
                    <li><a title="Home" class="home" href="StudentConsoleURL.ToString()/DashBoard.aspx">Home</a><span></span></li>
                    <li><a title="My Profile" class="attndnce" href="StudentConsoleURL.ToString()/AddCellEmailInfo.aspx">My Profile</a><span></span></li>
                    <li><a title="My Profile" class="courses selected" href="javascript:void(0);">Courses</a><span></span></li>
                    <li><a title="Results" class="marks" href="StudentConsoleURL.ToString()/QAMarks.aspx">Results</a><span></span></li>
                    <li><a title="Logout" class="reports" href="~/AuthenticatePortal/Log_out">Logout</a><span></span></li>
                </ul>
            </div>
            <div class="col-md-9 column mobile_menu">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:void(0);">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="StudentConsoleURL.ToString()/DashBoard.aspx">Home</a></li>
                            <li><a href="StudentConsoleURL.ToString()/AddCellEmailInfo.aspx">My Profile</a></li>
                            <li class="active"><a href="javascript:void(0);">Courses</a></li>
                            <li><a href="StudentConsoleURL.ToString()/QAMarks.aspx">Results</a></li>
                            <li><a href="~/AuthenticatePortal/Log_out">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row clearfix page_title_row">
        <div class="inner_row">
            <div class="col-md-5 column page_title_container">
                <h3 style="padding: 15px 0;">selectedCourseTitle</h3>
                <h5>Course Code : selectedCourseNo</h5>
                <h5 class="teachername">Teacher : selectedTeacher</h5>
            </div>
            <div class="col-md-7 column circuled_menu_boxes">
                <ul class="pull-right">
                    <li id="id_marks_summary"><a title="Marks Summary" class="marks_summary" href="StudentConsoleURL.ToString()/QAMarks.aspx"></a>Marks Summary</li>
                    <li id="id_course_announcements"><a title="Announcements" class="course_announcements" href="~/Announcements/Index"></a>Course Notification</li>
                    <li id="id_learning_resources"><a title="Learning Resources" class="learning_resources" href="~/LessonsResources/Index"></a>Learning Resources</li>
                    <li id="id_assigments"><a title="Assignments" class="assigments" href="~/Assignments/Index"></a>Assignments</li>
                    <li id="id_mdb"><a title="MDB" class="mdb" href="~/MDB/Index"></a>MDB</li>
                    <li id="id_quizzes"><a title="Quizzes" class="quizzes" href="~/Quizzes/Index"></a>Quizzes</li>
                    <li id="id_live_sessions"><a title="Videos" class="live_sessions" href="~/VideoLessons/Index"></a>Videos</li>
                    <li id="id_course_information"><a title="Course Information" class="course_information" href="~/CourseInformation/Index"></a>Course Information</li>
                </ul>
            </div>
        </div>
    </div>
</header>
