<footer>
    <div class="col-md-12 column footer_menu">
        <div class="inner_row">
            <p>
                <a style="font-weight: bold;font-size: 15px;" href="http://itscomsats.com/" target="_blank">
                    OTS
                </a> Principal Seat Copyright &copy; 2018-COMSATS &reg;
            </p>
        </div>
    </div>
</footer>