
<header>
    <div class="row clearfix top_row">
        <div class="inner_row">
            <div class="col-md-7 column">
                <span class="label label-default label_without_bg">Welcome : Imran</span>
            </div>
        </div>
    </div>
    <div class="row clearfix logo_menu_row">
        <div class="inner_row">
            <div class="col-md-2 column logo">
                <a title="" href="javascript:void(0);"><img alt="140x140" src="~/Content/img/logo.png"></a>
            </div>
            <div class="col-md-10 column rounded_menu_boxes">
                <ul class="pull-right">
                    <li><a title="Client" class="Client" href="/Client">Client</a><span></span></li>
                    <li><a title="ClientRider" class="ClientRider" href="/ClientRider">ClientRider</a><span></span></li>
                    <li><a title="ClientSample" class="ClientSample" href="/ClientSample">ClientSample</a><span></span></li>
                    <li><a title="Dimension" class="Dimension" href="/Dimension">Dimension</a><span></span></li>
                    <li><a title="DressCategory" class="DressCategory" href="/DressCategory">DressCategory</a><span></span></li>
                    <li><a title="DressDetails" class="DressDetails" href="/DressDetails">DressDetails</a><span></span></li>
                    <li><a title="DressStyle" class="DressStyle" href="/DressStyle">DressStyle</a><span></span></li>
                    <li><a title="DressType" class="DressType" href="/DressType">DressType</a><span></span></li>
                    <li><a title="Entity" class="Entity" href="/Entity">Entity</a><span></span></li>
                    <li><a title="Entity_Offer" class="Entity_Offer" href="/Entity_Offer">Entity_Offer</a><span></span></li>
                    <li><a title="Entity_Order_Timeframe" class="Entity_Order_Timeframe" href="/Entity_Order_Timeframe">Entity_Order_Timeframe</a><span></span></li>
                    <li><a title="Locations" class="Locations" href="/Locations">Locations</a><span></span></li>
                    <li><a title="Offers" class="Offers" href="/Offers">Offers</a><span></span></li>
                    <li><a title="Order" class="Order" href="/Order">Order</a><span></span></li>
                    <li><a title="Status" class="Status" href="/Status">Status</a><span></span></li>
                    <li><a title="Tailor" class="Tailor" href="/Tailor">Tailor</a><span></span></li>
                    <li><a title="TailorCategory" class="TailorCategory" href="/TailorCategory">TailorCategory</a><span></span></li>
                    <li><a title="TailorRider" class="TailorRider" href="/TailorRider">TailorRider</a><span></span></li>
                    <li><a title="Warehouse" class="Warehouse" href="/Warehouse">Warehouse</a><span></span></li>
                    <li><a title="Logout" class="reports" href="~/AuthenticatePortal/Log_out">Logout</a><span></span></li>
                </ul>
            </div>
            <div class="col-md-9 column mobile_menu">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:void(0);">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/Client">Client</a></li>
                            <li><a href="/ClientRider">ClientRider</a></li>
                            <li><a href="/ClientSample">ClientSample</a></li>
                            <li><a href="/Dimension">Dimension</a></li>
                            <li><a href="/DressCategory">DressCategory</a></li>
                            <li><a href="/DressDetails">DressDetails</a></li>
                            <li><a href="/DressStyle">DressStyle</a></li>
                            <li><a href="/DressType">DressType</a></li>
                            <li><a href="/Entity">Entity</a></li>
                            <li><a href="/Entity_Offer">Entity_Offer</a></li>
                            <li><a href="/Entity_Order_Timeframe">Entity_Order_Timeframe</a></li>
                            <li><a href="/Locations">Locations</a></li>
                            <li><a href="/Offers">Offers</a></li>
                            <li><a href="/Order">Order</a></li>
                            <li><a href="/Status">Status</a></li>
                            <li><a href="/Tailor">Tailor</a></li>
                            <li><a href="/TailorCategory">TailorCategory</a></li>
                            <li><a href="/TailorRider">TailorRider</a></li>
                            <li><a href="/Warehouse">Warehouse</a></li>
                            <li><a href="/Log_out">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row clearfix page_title_row">
        <div class="inner_row">
            <div class="col-md-5 column page_title_container">
                <h3 style="padding: 15px 0;">selectedCourseTitle</h3>
                <h5>Course Code : selectedCourseNo</h5>
                <h5 class="teachername">Teacher : selectedTeacher</h5>
            </div>
            <div class="col-md-7 column circuled_menu_boxes">
                <ul class="pull-right">
                    <li id="id_create">
                        @Html.ActionLink("Create", "Create", new { title = "Create record" })
                    </li>
                    <li id="id_edit">
                        @Html.ActionLink("Edit", "Edit",   new { title = "Update record" })
                    </li>
                    <li id="id_delete">
                        @Html.ActionLink("Delete", "Delete",  new { title = "Delete record" })
                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>


@*new { id = item.Client_ID }*@